# BlockCluster EDA | Kyle McLester
The data for this project is found on [Kaggle](https://www.kaggle.com/rounakbanik/the-movies-dataset). Our goal for this portion of the project is to perform a basic exploratory analysis of the data and report our findings

## Importing Dependencies

In [1]:
from networkx.algorithms.distance_measures import radius
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import re
import operator
import os
import numpy as np
from pathlib import Path
import plotly.express as go
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

# set app threads to 16 (max of my system)
os.environ["NUMEXPR_MAX_THREADS"] = "16"
os.environ["NUMEXPR_NUM_THREADS"] = "16"
pd.options.mode.chained_assignment = None
# force matplotlib graphs to be same shape
plt.rcParams.update({"figure.autolayout": True})

## Loading Data

In [2]:
links = pd.read_csv('data/movielens/100k/links.csv', sep=',', encoding='latin-1')
movies = pd.read_csv('data/movielens/100k/movies.csv', sep=',', encoding='latin-1')
ratings = pd.read_csv('data/movielens/100k/ratings.csv', sep=',', encoding='latin-1', usecols=['userId','movieId','rating'])
tags = pd.read_csv('data/movielens/100k/tags.csv', sep=',', encoding='latin-1', usecols=['userId','movieId','tag'])

## Exploring Data

In [3]:
print(5*'*'+' COLUMN LABELS '+5*'*')
print('links: {}'.format(list(links.columns)))
print('movies: {}'.format(list(movies.columns)))
print('ratings: {}'.format(list(ratings.columns)))
print('tags: {}'.format(list(tags.columns)))

***** COLUMN LABELS *****
links: ['movieId', 'imdbId', 'tmdbId']
movies: ['movieId', 'title', 'genres']
ratings: ['userId', 'movieId', 'rating']
tags: ['userId', 'movieId', 'tag']

In [4]:
print(5*'*'+' DATA SHAPE '+5*'*')
print('links: {}'.format(links.shape))
print('movies: {}'.format(movies.shape))
print('ratings: {}'.format(ratings.shape))
print('tags: {}'.format(tags.shape))

***** DATA SHAPE *****
links: (9742, 3)
movies: (9742, 3)
ratings: (100836, 3)
tags: (3683, 3)

In [5]:
print(5*'*'+' RATING SUMMARY STATS '+5*'*')
ratings['rating'].describe()

***** RATING SUMMARY STATS *****

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [5]:
print(5*'*'+' NULL VALUE COUNTS '+5*'*')
print('links\n{}\n'.format(links.isnull().sum()))
print('movies\n{}\n'.format(movies.isnull().sum()))
print('ratings\n{}\n'.format(ratings.isnull().sum()))
print('tags\n{}\n'.format(tags.isnull().sum()))

***** NULL VALUE COUNTS *****
links
movieId    0
imdbId     0
tmdbId     8
dtype: int64

movies
movieId    0
title      0
genres     0
dtype: int64

ratings
userId     0
movieId    0
rating     0
dtype: int64

tags
userId     0
movieId    0
tag        0
dtype: int64

In [6]:
print(5*'*'+' REMOVE ROWS W/NULL VALUES ' + 5*'*')
links = links.dropna()
links.isnull().sum()

***** REMOVE ROWS W/NULL VALUES *****

movieId    0
imdbId     0
tmdbId     0
dtype: int64

In [7]:
print(5*'*'+' FIRST 5 ROWS '+5*'*')
print('links\n{}\n'.format(links.head()))
print('movies\n{}\n'.format(movies.head()))
print('ratings\n{}\n'.format(ratings.head()))
print('tags\n{}\n'.format(tags.head()))

***** FIRST 5 ROWS *****
links
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

movies
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

ratings
   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

tags
   userId  movieId              tag
0       2    60756            funny
1       2    60756  Highly quotable
2       2    60756     will ferrell
3       2    89774     Boxing story
4       2    89774              MMA

In [8]:
# break up movies['genre'] into a string
movies['genres'] = movies['genres'].str.split('|')
movies['genres'] = movies['genres'].fillna('').astype('str')

In [9]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy..."
1,2,Jumanji (1995),"['Adventure', 'Children', 'Fantasy']"
2,3,Grumpier Old Men (1995),"['Comedy', 'Romance']"
3,4,Waiting to Exhale (1995),"['Comedy', 'Drama', 'Romance']"
4,5,Father of the Bride Part II (1995),['Comedy']

In [10]:
# extract year from title column
movies['year'] = [re.search('(\d){4}', x) for x in movies['title']]
movies = movies.dropna()
movies['year'] = [re.search('(\d){4}', x).group() for x in movies['title']]
movies = movies.replace(to_replace='\((.*)\)', value='', regex=True)
movies = movies.replace(to_replace=' +$', value='', regex=True)
movies['year'] = movies['year'].astype('int')

In [11]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",1995
1,2,Jumanji,"['Adventure', 'Children', 'Fantasy']",1995
2,3,Grumpier Old Men,"['Comedy', 'Romance']",1995
3,4,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",1995
4,5,Father of the Bride Part II,['Comedy'],1995

In [12]:
# remove title that were missing a year or are recorded after this study
movies = movies[movies['year']<=2018]

## Recommendation based on Genre

In [13]:
tf = TfidfVectorizer(analyzer='word',
                     ngram_range=(1,2),
                     min_df=0,
                     stop_words='english')

In [14]:
tfidf_matrix = tf.fit_transform(movies['genres'])
print('tfidf_matrix\nshape: {}'.format(tfidf_matrix.shape))

tfidf_matrix
shape: (9724, 174)

In [15]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_sim[:4, :4]

array([[1.        , 0.31378594, 0.06107542, 0.05268521],
       [0.31378594, 1.        , 0.        , 0.        ],
       [0.06107542, 0.        , 1.        , 0.3516825 ],
       [0.05268521, 0.        , 0.3516825 , 1.        ]])

In [16]:
titles = movies['title']
indices = pd.Series(movies.index, index=movies['title'])

In [17]:
def genre_recommendations(title, num_titles):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:num_titles+1]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [18]:
genre_recommendations('Tomb Raider', 10)

1516               Flight of the Navigator
4274    Journey to the Center of the Earth
5004                             Explorers
5396                            D.A.R.Y.L.
6436                       Last Mimzy, The
6862                         City of Ember
9016        Doctor Who: The Waters of Mars
1506                       Black Hole, The
1554            Return from Witch Mountain
2803                            Titan A.E.
Name: title, dtype: object

In [19]:
genre_recommendations('Ant-Man and the Wasp', 10)

2861                                        Space Cowboys
3069                                           Innerspace
3927                        Adventures of Pluto Nash, The
5259                                Last Starfighter, The
6754    Indiana Jones and the Kingdom of the Crystal S...
7052                                     Land of the Lost
8691                                             Deadpool
9731                                              Gintama
560                                            Barbarella
969                                    Back to the Future
Name: title, dtype: object

## Recommendation based on Title

In [24]:
tf = TfidfVectorizer(analyzer='word',
                     ngram_range=(1, 2),
                     min_df=0,
                     stop_words='english')

In [25]:
tfidf_matrix =tf.fit_transform(movies['title'])
tfidf_matrix.shape

(9724, 15855)

In [26]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_sim[:4, :4]

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [27]:
titles = movies['title']
indices = pd.Series(movies.index, index=movies['title'])

In [28]:
def title_recommendations(title, num_titles):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:num_titles+1]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [29]:
title_recommendations('Tomb Raider', 10)

9433                         Rogue One: A Star Wars Story
567                                                  Solo
6823                            Star Wars: The Clone Wars
9645                             Star Wars: The Last Jedi
8908                        The Star Wars Holiday Special
7367    Empire of Dreams: The Story of the 'Star Wars'...
1979            Star Wars: Episode I - The Phantom Menace
898        Star Wars: Episode V - The Empire Strikes Back
1570                                           L.A. Story
2227                                     Story of Us, The
Name: title, dtype: object

In [28]:
title_recommendations('Toy Story', 10)

2355           Toy Story 2
7355           Toy Story 3
3595              Toy, The
1570            L.A. Story
2227      Story of Us, The
4156       Story of O, The
4089          Toy Soldiers
3187            Love Story
2110    Christmas Story, A
4047           Ghost Story
Name: title, dtype: object

## Average Rating Given by Each User

In [30]:
merged_df = ratings.join(movies.set_index('movieId'), on='movieId')

In [31]:
merged_df[merged_df['userId']==1]

,userId,movieId,rating,title,genres,year
0,1,1,4.0,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0
1,1,3,4.0,Grumpier Old Men,"['Comedy', 'Romance']",1995.0
2,1,6,4.0,Heat,"['Action', 'Crime', 'Thriller']",1995.0
3,1,47,5.0,Seven,"['Mystery', 'Thriller']",1995.0
4,1,50,5.0,"Usual Suspects, The","['Crime', 'Mystery', 'Thriller']",1995.0
...,...,...,...,...,...,...
227,1,3744,4.0,Shaft,"['Action', 'Crime', 'Thriller']",2000.0
228,1,3793,5.0,X-Men,"['Action', 'Adventure', 'Sci-Fi']",2000.0
229,1,3809,4.0,What About Bob?,['Comedy'],1991.0
230,1,4006,4.0,Transformers: The Movie,"['Adventure', 'Animation', 'Children', 'Sci-Fi']",1986.0
231,1,5060,5.0,M*A*S*H,"['Comedy', 'Drama', 'War']",1970.0

In [32]:
user_avg_ratings = pd.DataFrame(columns=['userId','avg_rating'])
userId = []
avg_rating = []
for user in merged_df['userId'].unique():
    userId.append(user)
    avg_rating.append(merged_df[merged_df['userId']==user]['rating'].sum()/len(merged_df[merged_df['userId']==user]))
user_avg_ratings['userId'] = userId
user_avg_ratings['avg_rating'] = avg_rating

In [33]:
user_avg_ratings = user_avg_ratings.set_index('userId')

In [34]:
user_avg_ratings.describe()

       avg_rating
count  610.000000
mean     3.657222
std      0.480635
min      1.275000
25%      3.360000
50%      3.694385
75%      3.997500
max      5.000000

In [36]:
user_avg_ratings

        avg_rating
userId
1         4.366379
2         3.948276
3         2.435897
4         3.555556
5         3.636364
...            ...
606       3.657399
607       3.786096
608       3.134176
609       3.270270
610       3.688556

[610 rows x 1 columns]

## Average Rating for Each Movie (Naive)

In [54]:
avg_movie_ratings = pd.DataFrame(columns=['movieId','avg_rating'])
movieId = []
avg_rating = []
vote_count = []
for movie in merged_df['movieId'].unique():
    movieId.append(movie)
    avg_rating.append(merged_df[merged_df['movieId']==movie]['rating'].sum()/len(merged_df[merged_df['movieId']==movie]))
    vote_count.append(merged_df[merged_df['movieId']==movie]['rating'].count())
avg_movie_ratings['movieId'] = movieId
avg_movie_ratings['avg_rating'] = avg_rating
avg_movie_ratings['vote_count'] = vote_count

In [55]:
avg_movie_ratings = avg_movie_ratings.join(movies.set_index('movieId'), on='movieId')
avg_movie_ratings = avg_movie_ratings.drop(['genres','year'], axis=1)
avg_movie_ratings = avg_movie_ratings.dropna()

In [61]:
avg_movie_ratings.head()

   movieId  avg_rating  vote_count                title
0        1    3.920930         215            Toy Story
1        3    3.259615          52     Grumpier Old Men
2        6    3.946078         102                 Heat
3       47    3.975369         203                Seven
4       50    4.237745         204  Usual Suspects, The

In [56]:
# 10 lowest rated movies
avg_movie_ratings.sort_values(by=['avg_rating'])[:10]

      movieId  avg_rating  vote_count                                title
8941     7114         0.5           1                       Collector, The
8859   122246         0.5           1                        Tooth Fairy 2
8531     8632         0.5           1                       Secret Society
7822    82095         0.5           1                              Skyline
9298   136297         0.5           1    Mortal Kombat: The Journey Begins
6513    54934         0.5           1                Brothers Solomon, The
6518    67799         0.5           1  The Butterfly Effect 3: Revelations
9610    61818         0.5           1             Crow, The: Wicked Prayer
6535   134528         0.5           1                                Aloha
6539   138798         0.5           1          Joe Dirt 2: Beautiful Loser

In [57]:
# 10 highest rated movies
avg_movie_ratings.sort_values(by=['avg_rating'], ascending=False)[:10]

,movieId,avg_rating,vote_count,title
4275,4788,5.0,1,Moscow Does Not Believe in Tears
8685,120130,5.0,1,Into the Forest of Fireflies' Light
7102,6021,5.0,1,"American Friend, The"
5572,5607,5.0,1,Son of the Bride
4277,5888,5.0,1,Brother
8557,71268,5.0,1,Tyler Perry's I Can Do Bad All by Myself
8558,93320,5.0,1,Trailer Park Boys
4278,5889,5.0,1,"Cruel Romance, A"
8580,467,5.0,1,Live Nude Girls
8581,876,5.0,1,Supercop 2

In [62]:
avg_movie_ratings['avg_rating'].describe()

count    9706.000000
mean        3.261957
std         0.869360
min         0.500000
25%         2.800000
50%         3.416667
75%         3.909773
max         5.000000
Name: avg_rating, dtype: float64

## IMDB Weighted Rating

In [66]:
C = avg_movie_ratings['avg_rating'].mean()
m = avg_movie_ratings['vote_count'].quantile(0.9)
avg_copy = avg_movie_ratings.copy().loc[avg_movie_ratings['vote_count']>=m]

In [67]:
avg_copy

      movieId  avg_rating  vote_count                                title
0           1    3.920930         215                            Toy Story
1           3    3.259615          52                     Grumpier Old Men
2           6    3.946078         102                                 Heat
3          47    3.975369         203                                Seven
4          50    4.237745         204                  Usual Suspects, The
...       ...         ...         ...                                  ...
3350     8807    3.455882          34  Harold and Kumar Go to White Castle
3384    45720    3.558824          34               Devil Wears Prada, The
3490    94959    3.775862          29                     Moonrise Kingdom
3498     1172    4.161765          34                      Cinema Paradiso
3641     2384    2.775862          29                Babe: Pig in the City

[975 rows x 4 columns]

In [68]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['avg_rating']
    return (v/(v+m)*R) + (m/(m/v)*C)

In [69]:
avg_copy['score'] = avg_copy.apply(weighted_rating, axis=1)

In [71]:
avg_copy.head()

   movieId  avg_rating  vote_count                title       score
0        1    3.920930         215            Toy Story  704.804189
1        3    3.259615          52     Grumpier Old Men  171.767325
2        6    3.946078         102                 Heat  335.839752
3       47    3.975369         203                Seven  665.685932
4       50    4.237745         204  Usual Suspects, The  669.181617

In [75]:
avg_copy.to_csv('weighted_ratings.csv',sep=',',encoding='utf-8', index=False)

In [72]:
avg_copy.sort_values(by='score',ascending=False, inplace=True)
avg_copy.head(20)

,movieId,avg_rating,vote_count,title,score
20,356,4.164134,329,Forrest Gump,1077.032111
232,318,4.429022,317,"Shawshank Redemption, The",1038.121710
16,296,4.197068,307,Pulp Fiction,1005.278531
34,593,4.161290,279,"Silence of the Lambs, The",913.880073
166,2571,4.192446,278,"Matrix, The",910.645310
15,260,4.231076,251,Star Wars: Episode IV - A New Hope,822.571308
26,480,3.750000,238,Jurassic Park,779.713650
7,110,4.031646,237,Braveheart,776.703087
478,589,3.970982,224,Terminator 2: Judgment Day,734.222154
28,527,4.225000,220,Schindler's List,721.393660
192,2959,4.272936,218,Fight Club,714.908629
0,1,3.920930,215,Toy Story,704.804189
68,1196,4.215640,211,Star Wars: Episode V - The Empire Strikes Back,692.010286
4,50,4.237745,204,"Usual Suspects, The",669.181617
184,2858,4.056373,204,American Beauty,669.021444
3,47,3.975369,203,Seven,665.685932
42,780,3.445545,202,Independence Day,661.954581
463,150,3.845771,201,Apollo 13,659.043673
70,1198,4.207500,200,Raiders of the Lost Ark,656.098414
753,4993,4.106061,198,"Lord of the Rings: The Fellowship of the Ring,...",649.480785

## Creating User Profiles

In [76]:
profiles = {}

for user in merged_df['userId'].unique():
    username = 'user_' + str(user)
    
    temp = merged_df[merged_df['userId']==user]
    
    titles = temp['title']
    ratings = temp['rating']
    ratings = list(ratings)
    
    movie_list = {}
    for i, title in enumerate(titles):
        movie_list[title] = ratings[i]
        
    profiles[username] = movie_list

In [80]:
import json

In [82]:
with open('profiles.json','w') as outfile:
    json.dump(profiles, outfile,indent=4)

In [83]:
def get_common_movies(user_A, user_B):
    return [movie for movie in profiles[user_A] if movie in profiles[user_B]]

In [84]:
# number of available user profiles
len(profiles)

610

In [85]:
get_common_movies('user_234','user_610')

['Toy Story',
 'Batman Forever',
 'Dumb & Dumber',
 'Star Wars: Episode IV - A New Hope',
 'Ace Ventura: Pet Detective',
 'Speed',
 'Jurassic Park',
 'Batman',
 'Wizard of Oz, The',
 'Die Hard',
 'E.T. the Extra-Terrestrial',
 'Star Wars: Episode V - The Empire Strikes Back',
 'Raiders of the Lost Ark',
 'Aliens',
 'Star Wars: Episode VI - Return of the Jedi',
 'Alien',
 'Army of Darkness',
 'Indiana Jones and the Last Crusade',
 'Face/Off',
 'As Good as It Gets',
 'Labyrinth',
 'Lethal Weapon',
 'Saving Private Ryan',
 'Dark Crystal, The',
 'NeverEnding Story, The',
 "Bug's Life, A",
 'Matrix, The',
 'Star Wars: Episode I - The Phantom Menace',
 'RoboCop',
 'Toy Story 2',
 'Beach, The',
 'Teenage Mutant Ninja Turtles',
 'Flintstones in Viva Rock Vegas, The',
 'Shanghai Noon',
 'Starman',
 'Chicken Run',
 'X-Men',
 "Charlie's Angels",
 'Cast Away',
 'Memento',
 'Spy Kids',
 'Mummy Returns, The',
 'Shrek',
 'Jurassic Park III']

In [86]:
# get reviews from common movies
def get_reviews(user_A, user_B):
    common_movies = get_common_movies(user_A, user_B)
    return [(profiles[user_A][movie], profiles[user_B][movie]) for movie in common_movies]

In [87]:
get_reviews('user_70','user_391')

[(4.0, 4.0),
 (4.5, 5.0),
 (4.0, 5.0),
 (5.0, 5.0),
 (5.0, 5.0),
 (5.0, 5.0),
 (4.5, 5.0),
 (5.0, 5.0),
 (5.0, 5.0),
 (5.0, 4.0),
 (5.0, 4.0),
 (4.5, 4.0),
 (4.0, 4.0),
 (3.5, 4.0),
 (4.5, 3.0),
 (4.0, 4.0),
 (4.0, 4.0),
 (3.5, 4.0),
 (4.0, 4.0),
 (4.5, 4.0)]

In [88]:
# get reviews from common movies
def get_reviews_detailed(user_A, user_B):
    common_movies = get_common_movies(user_A, user_B)
    reviews = [(profiles[user_A][movie], profiles[user_B][movie]) for movie in common_movies]
    result = zip(common_movies, reviews)
    return set(result)

In [89]:
get_reviews_detailed('user_70','user_391')

{('American Beauty', (4.0, 4.0)),
 ('Apollo 13', (4.0, 4.0)),
 ('Back to the Future', (4.0, 4.0)),
 ('Beautiful Mind, A', (4.5, 4.0)),
 ('Breakfast Club, The', (4.0, 4.0)),
 ('Cinema Paradiso', (5.0, 5.0)),
 ('Dead Poets Society', (5.0, 4.0)),
 ('E.T. the Extra-Terrestrial', (4.5, 5.0)),
 ("Ferris Bueller's Day Off", (3.5, 4.0)),
 ('Forrest Gump', (4.0, 5.0)),
 ('Godfather, The', (5.0, 5.0)),
 ('Good Will Hunting', (4.5, 3.0)),
 ("It's a Wonderful Life", (5.0, 5.0)),
 ("One Flew Over the Cuckoo's Nest", (5.0, 5.0)),
 ("Schindler's List", (5.0, 5.0)),
 ('Shawshank Redemption, The', (4.5, 5.0)),
 ('Shrek', (4.0, 4.0)),
 ('Stand by Me', (4.5, 4.0)),
 ('Star Wars: Episode VI - Return of the Jedi', (5.0, 4.0)),
 ('Truman Show, The', (3.5, 4.0))}

In [90]:
def euclidean_distance(points):
    squared_diff = [(point[0] - point[1]) ** 2 for point in points]
    summed_squared_diffs = sum(squared_diff)
    distance = np.sqrt(summed_squared_diffs)
    return distance

In [91]:
def similarity(reviews):
    return 1/(1+euclidean_distance(reviews))

In [92]:
def get_user_similarity(user_A, user_B):
    reviews = get_reviews(user_A, user_B)
    return similarity(reviews)

In [95]:
get_user_similarity('user_1','user_86')

0.21239994067041815

In [96]:
def recommend_movies(user, num_suggestions):
    similarity_scores = [(get_user_similarity(user, other), other) for other in profiles if other != user]
    # get sim scores for all users
    similarity_scores.sort()
    similarity_scores.reverse()
    # similarity_scores = similarity_scores[0:num_suggestions]
    
    recommendations = {}
    for similarity, other in similarity_scores:
        reviewed = profiles[other]
        for movie in reviewed:
            if movie not in profiles[user]:
                weight = similarity * reviewed[movie]
                if movie in recommendations:
                    sim, weights = recommendations[movie]
                    recommendations[movie] = (sim + similarity, weights + [weight])
                else:
                    recommendations[movie] = (similarity, [weight])
                    
    for recommendation in recommendations:
        similarity, movie = recommendations[recommendation]
        recommendations[recommendation] = sum(movie) / similarity
        
    sorted_recommendations = sorted(recommendations.items(), key=operator.itemgetter(1), reverse=True)
    return sorted_recommendations[:num_suggestions]

In [97]:
recommend_movies('user_203', 10)

[('Jonah Who Will Be 25 in the Year 2000', 5.000000000000001),
 ('Come and See', 5.000000000000001),
 ('Story of Women', 5.0),
 ('Passenger, The', 5.0),
 ('Marriage of Maria Braun, The', 5.0),
 ('61*', 5.0),
 ('Thin Line Between Love and Hate, A', 5.0),
 ('Animals are Beautiful People', 5.0),
 ('Woman Is a Woman, A', 5.0),
 ('Thousand Clowns, A', 5.0)]

In [279]:
recommend_movies('user_120', 10)

[('Particle Fever', 5.000000000000001),
 ('Heidi Fleiss: Hollywood Madam', 5.000000000000001),
 ('Lamerica', 5.0),
 ('Entertaining Angels: The Dorothy Day Story', 5.0),
 ('Story of Women', 5.0),
 ('Passenger, The', 5.0),
 ('Marriage of Maria Braun, The', 5.0),
 ('One I Love, The', 5.0),
 ('Laggies', 5.0),
 ('Delirium', 5.0)]

In [98]:
merged_df = merged_df.dropna(axis=0)

In [99]:
merged_df.head()

,userId,movieId,rating,title,genres,year
0,1,1,4.0,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0
1,1,3,4.0,Grumpier Old Men,"['Comedy', 'Romance']",1995.0
2,1,6,4.0,Heat,"['Action', 'Crime', 'Thriller']",1995.0
3,1,47,5.0,Seven,"['Mystery', 'Thriller']",1995.0
4,1,50,5.0,"Usual Suspects, The","['Crime', 'Mystery', 'Thriller']",1995.0

In [100]:
merged_df['year'] = [int(x) for x in merged_df['year']]

In [101]:
merged_df.head()

,userId,movieId,rating,title,genres,year
0,1,1,4.0,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",1995
1,1,3,4.0,Grumpier Old Men,"['Comedy', 'Romance']",1995
2,1,6,4.0,Heat,"['Action', 'Crime', 'Thriller']",1995
3,1,47,5.0,Seven,"['Mystery', 'Thriller']",1995
4,1,50,5.0,"Usual Suspects, The","['Crime', 'Mystery', 'Thriller']",1995

In [102]:
import plotly.express as px

In [103]:
merged_df = merged_df[merged_df['year']>=1915]

In [104]:
fig = px.bar(merged_df, merged_df['year'].unique(), merged_df['year'].value_counts(), title='Movies Produced by Year')

In [105]:
fig.show()

In [106]:
small_df = merged_df[0:round(len(merged_df)*0.01)]

In [107]:
small_df['userId'] = ['user_'+str(x) for x in small_df['userId']]

In [108]:
import networkx as nx

In [109]:
G = nx.Graph()

In [110]:
G = nx.from_pandas_edgelist(small_df, source='userId',target='title', edge_attr='rating')

In [111]:
from pyvis.network import Network

In [ ]:
net = Network(notebook=True)
net.from_nx(G)
net.inherit_edge_colors(True)
net.show('network_graph.html')

In [113]:
import pandas as pd
import numpy as np 
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
merged_df['genres_cat'] = encoder.fit_transform(merged_df['genres'])
merged_df['title_cat'] = encoder.fit_transform(merged_df['title'])
merged_df.head()

,userId,movieId,rating,title,genres,year,genres_cat,title_cat
0,1,1,4.0,Toy Story,"['Adventure', 'Animation', 'Children', 'Comedy...",1995,353,8545
1,1,3,4.0,Grumpier Old Men,"['Comedy', 'Romance']",1995,734,3522
2,1,6,4.0,Heat,"['Action', 'Crime', 'Thriller']",1995,260,3695
3,1,47,5.0,Seven,"['Mystery', 'Thriller']",1995,934,7235
4,1,50,5.0,"Usual Suspects, The","['Crime', 'Mystery', 'Thriller']",1995,787,8783

In [134]:
def predict_rating(user, title):
    similarity_scores = [(get_user_similarity(user, other), other) for other in profiles if other != user]
    # get sim scores for all users
    similarity_scores.sort()
    similarity_scores.reverse()
    
    recommendations = {}
    for similarity, other in similarity_scores:
        reviewed = profiles[other]
        for movie in reviewed:
            weight = similarity * reviewed[movie]
            if movie in recommendations:
                sim, weights = recommendations[movie]
                recommendations[movie] = (sim + similarity, weights + [weight])
            else:
                recommendations[movie] = (similarity, [weight])
                    
    for recommendation in recommendations:
        similarity, movie = recommendations[recommendation]
        recommendations[recommendation] = sum(movie) / similarity

    return recommendations[title]

In [135]:
predict_rating('user_1','Toy Story')

3.9972001085979056

In [140]:
for movie in profiles['user_1']:
    try:
        print(f'{movie} : {predict_rating("user_1",movie)}')
    except:
        pass

Toy Story : 3.9972001085979056
Grumpier Old Men : 3.385277489894013
Heat : 4.025073932981687
Seven : 4.075882463767784
Usual Suspects, The : 4.318454264952223
From Dusk Till Dawn : 3.5075135392341017
Bottle Rocket : 3.603532650064559
Braveheart : 4.129677429373077
Rob Roy : 3.4941203544029413
Canadian Bacon : 2.6628028666138572
Desperado : 3.592462500510135
Billy Madison : 3.5170013634991286
Clerks : 3.946175652096673
Dumb & Dumber : 3.1914582113205645
Ed Wood : 3.7113364769052795
Star Wars: Episode IV - A New Hope : 4.310235491294956
Pulp Fiction : 4.168676560532393
Stargate : 3.3542659908323773
Tommy Boy : 3.936019231490493
Clear and Present Danger : 3.657129449485551
Forrest Gump : 4.243630286380716
Jungle Book, The : 3.803288394796192
Mask, The : 3.270954004722741
Blown Away : 2.778289481613553
Dazed and Confused : 3.8431059420616744
Fugitive, The : 4.079834307198037
Jurassic Park : 3.801069861844889
Mrs. Doubtfire : 3.462957106246344
Schindler's List : 4.352932631731257
So I Married an Axe Murderer : 3.245212374966503
Three Musketeers, The : 3.3918571973913707
Tombstone : 3.835826903098011
Dances with Wolves : 3.8952541337359943
Batman : 3.4414552370502696
Silence of the Lambs, The : 4.194896429101108
Pinocchio : 3.638478751045084
Fargo : 4.238613308323902
Mission: Impossible : 3.6308396883910445
James and the Giant Peach : 3.5368882369805403
Space Jam : 2.8954169954447364
Rock, The : 3.795782511377951
Twister : 3.4922509033760516
Independence Day : 3.5994482926064757
She's the One : 3.1901052595191146
Wizard of Oz, The : 3.955071584334461
Citizen Kane : 4.126129854191678
Adventures of Robin Hood, The : 4.1951888175065175
Ghost and Mrs. Muir, The : 4.175647604258684
Mr. Smith Goes to Washington : 4.001364116063162
Escape to Witch Mountain : 3.1186411785452535
Winnie the Pooh and the Blustery Day : 3.432790682035741
Three Caballeros, The : 3.4508698841602805
Sword in the Stone, The : 3.6855665900482597
Dumbo : 3.529746198063958
Pete's Dragon : 2.7502339925797856
Bedknobs and Broomsticks : 3.533727233883531
Alice in Wonderland : 3.169270473202919
That Thing You Do! : 3.596989150968672
Ghost and the Darkness, The : 3.851553184910712
Swingers : 3.767326452030496
Willy Wonka & the Chocolate Factory : 3.8910085461337163
Monty Python's Life of Brian : 3.9167278370837644
Reservoir Dogs : 4.2720305587846505
Platoon : 3.92940967040038
Basic Instinct : 3.1696258409734135
E.T. the Extra-Terrestrial : 3.8659637146316554
Abyss, The : 3.524943724675295
Monty Python and the Holy Grail : 4.198051110752011
Star Wars: Episode V - The Empire Strikes Back : 4.260678272941696
Princess Bride, The : 4.260038834742251
Raiders of the Lost Ark : 4.30811302384043
Clockwork Orange, A : 4.069231077402601
Apocalypse Now : 4.306976188805933
Star Wars: Episode VI - Return of the Jedi : 4.244273828924203
Goodfellas : 4.289490078544461
Alien : 4.045841116972053
Psycho : 3.8705039227325457
Blues Brothers, The : 3.899713609497063
Full Metal Jacket : 4.1444227382895455
Henry V : 3.8386927594442755
Quiet Man, The : 3.327111443281256
Terminator, The : 3.9351827155938985
Duck Soup : 3.9608117849139206
Shining, The : 4.139972138146579
Groundhog Day : 3.9705501781832173
Back to the Future : 4.126392252863325
Highlander : 3.8673814075407584
Young Frankenstein : 4.119999800807236
Fantasia : 3.8814894375272795
Indiana Jones and the Last Crusade : 4.10805284939751
Pink Floyd: The Wall : 4.160520812628228
Nosferatu : 3.5269774528834072
Batman Returns : 3.1067104978863473
Sneakers : 3.5352570109528823
Last of the Mohicans, The : 3.910015229187538
McHale's Navy : 2.1396815783356553
Grosse Pointe Blank : 3.591248459397605
Austin Powers: International Man of Mystery : 3.5947272300656463
Con Air : 3.238940361715888
Face/Off : 3.402812069217829
Men in Black : 3.5546237079946907
Conan the Barbarian : 3.1272958455285824
L.A. Confidential : 4.1736074717436615
Kiss the Girls : 3.5106063674595873
Game, The : 3.821684751192022
I Know What You Did Last Summer : 2.0446727227153674
Starship Troopers : 3.4195901996445137
Big Lebowski, The : 3.9602510870805188
Wedding Singer, The : 3.4603024382558125
Welcome to Woop-Woop : 4.0
Newton Boys, The : 2.0
Wild Things : 3.0281758659817073
Small Soldiers : 2.8393409193385017
All Quiet on the Western Front : 4.240418784597337
Rocky : 3.9381607619807695
Labyrinth : 3.8809276332681844
Lethal Weapon : 3.7311177480213518
Goonies, The : 3.6476083279660956
Back to the Future Part III : 3.494928107521324
Bambi : 3.3594762182356326
Saving Private Ryan : 4.199115885434192
Black Cauldron, The : 3.678377593592029
Flight of the Navigator : 3.425560686048496
Great Mouse Detective, The : 3.3722333920792433
Honey, I Shrunk the Kids : 2.8070159204406155
Negotiator, The : 3.431047147835773
Rescuers, The : 2.947370352615755
Return to Oz : 2.7698413127725856
Rocketeer, The : 3.3239030406363
Sleeping Beauty : 3.4952194738747595
Song of the South : 3.417206948775037
Tron : 3.4001997881592803
Indiana Jones and the Temple of Doom : 3.743263841837879
Lord of the Rings, The : 2.9991317272229097
Charlotte's Web : 3.5758087878971083
Secret of NIMH, The : 3.4941360357078106
American Tail, An : 3.265517948912479
Legend : 3.15636012199155
NeverEnding Story, The : 3.789919609667752
Beetlejuice : 3.4674670403342516
Willow : 3.362533791634489
Toys : 2.3864280005485257
Few Good Men, A : 3.8377957946535526
Rush Hour : 3.3942582834104997
Edward Scissorhands : 3.7410253120410233
American History X : 4.282667037484826
I Still Know What You Did Last Summer : 2.026458365831746
Enemy of the State : 3.6607317162213215
King Kong : 3.3614387742998746
Very Bad Things : 3.3905659696420396
Rushmore : 3.658141615555749
Romancing the Stone : 3.5270087737962785
Young Sherlock Holmes : 3.4237874066355802
Thin Red Line, The : 3.4333035626194963
Howard the Duck : 2.138021149720199
Texas Chainsaw Massacre, The : 3.138062405312045
Crocodile Dundee : 3.259113471578895
Â¡Three Amigos! : 3.180622652639278
20 Dates : 2.7579532111450944
Office Space : 4.058317650609327
Logan's Run : 3.326527096972426
Planet of the Apes : 3.2869270582232395
Lock, Stock & Two Smoking Barrels : 4.2080937431854535
Matrix, The : 4.339476578336059
Go : 4.036264248249791
SLC Punk! : 4.080636302874207
Dick Tracy : 3.377893457677532
Mummy, The : 3.238901420075828
Star Wars: Episode I - The Phantom Menace : 3.256702511629986
Superman : 3.692468745808289
Superman II : 3.0156666604427995
Dracula : 3.3906546930247115
Frankenstein : 3.756420347558009
Wolf Man, The : 3.394922934022273
Rocky Horror Picture Show, The : 3.463512499581083
Run Lola Run : 4.021508855159644
South Park: Bigger, Longer and Uncut : 3.9289665684906265
Ghostbusters : 3.7603125354917784
Iron Giant, The : 4.065465202207027
Big : 3.7338961799236445
13th Warrior, The : 3.1282479106304
American Beauty : 4.119649273887641
Excalibur : 3.4469617491191764
Gulliver's Travels : 1.930287831430881
Total Recall : 3.7331670080762214
Dirty Dozen, The : 3.9943561225415336
Goldfinger : 3.8488809135700017
From Russia with Love : 3.698832782101506
Dr. No : 3.776803158788699
Fight Club : 4.364638122978916
RoboCop : 3.3032230666682527
Who Framed Roger Rabbit? : 3.614114232397093
Live and Let Die : 3.7139417614692656
Thunderball : 3.4653205836267937
Being John Malkovich : 3.9374897804203064
Spaceballs : 3.547668048530168
Robin Hood : 3.5226988563276094
Dogma : 3.666235879199483
Messenger: The Story of Joan of Arc, The : 3.655700668356209
Longest Day, The : 3.984930155850468
Green Mile, The : 4.287192926092673
Easy Rider : 3.7772756843645263
Talented Mr. Ripley, The : 3.465803662865275
Encino Man : 2.4201877715513733
Sister Act : 3.4641658830605597
Wayne's World : 3.52688237368214
Scream 3 : 2.709862724490902
JFK : 3.459424616170864
Teenage Mutant Ninja Turtles II: The Secret of the Ooze : 2.5076353878174644
Teenage Mutant Ninja Turtles III : 2.147551529813355
Red Dawn : 3.2593368264880356
Good Morning, Vietnam : 3.8798640236921953
Grumpy Old Men : 3.5687693179733655
Ladyhawke : 3.3370391521875344
Hook : 3.4575995255194587
Predator : 3.683048811086709
Gladiator : 4.175733438090771
Road Trip : 3.1070778043717326
Man with the Golden Gun, The : 3.6548471573541867
Blazing Saddles : 4.049069567886781
Mad Max : 3.617014863466659
Road Warrior, The : 4.044897019482593
Shaft : 2.616375905119772
Big Trouble in Little China : 3.9096729114815383
X-Men : 3.7793085542182387
What About Bob? : 3.3506595419254364
Transformers: The Movie : 3.2662219436150774
M*A*S*H : 4.097276135803078